@model deals.earlymoments.com.Models.ShippingModels.ShippingAddress
@{
    //ViewBag.Title = "four_for_99_bonus";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="/Content/themes/disney/4for99bonus/custom.css" rel="stylesheet" />
<link href="/Content/themes/disney/4for99bonus/media.css" rel="stylesheet" />
<link href="/Content/prettyPhoto.css" rel="stylesheet" />
@*<script src="/Script/jquery.prettyPhoto.js"></script>*@
<script src="/script/disney/4for99bonus/main.js"></script>
<script src="/script/Validation.js"></script>
<script src="/script/Disney/choice.js"></script>

<!-- Facebook Pixel Code (by David / 02.03.2015) -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1122629181099927');
    fbq('track', "PageView");
    fbq('track', "OfferLPView");
</script>
<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=1122629181099927&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

@using (Html.BeginForm())
{
  <!--  <img src="/Images/disney/4for99bonus/springformbkg.gif" class="responsiveImg formBgMain hideSmall">-->
    <div class="rightFormDiv">
        <img src="/Images/disney/4for99bonus/freeStar.png" class="responsiveImg hideSmall freeStar">
        <img src="/Images/disney/4for99bonus/right_top1.png" class="responsiveImg hideSmall">
        <div class="row orderForm roundedBorderBottom">
            <p class="formStep1Bg"><img src="/Images/disney/4for99bonus/step1.png" class="responsiveImg formStep1"></p>

            <div class="formContainer smallMarginBottom20 adjustMobileFormContainer">
                @Html.Partial("_ShippingPartialPage", Model)
            </div>

            <p class="formStep2Bg"><img src="/Images/disney/4for99bonus/step2.png" class="responsiveImg formStep2"></p>

            <div class="formContainer">
                <div class="row text-center">
                    <div class="col-md-12 smallMarginBottom10 f14">
                        Please send <em>Lady &amp; The Tramp</em>, <em>The Lion King</em><br class="hideSmall"> and the<em> two</em> books checked below:
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <figure>
                            <img src="/Images/disney/4for99bonus/choice_1.png" alt="Planes" class="responsiveImg" id="imgChoice1">
                            <figcaption>
                                <input type="checkbox" name="SelectedBooks" class="required chkChoice" id="chkChoice1" value="19632115" runat="server" onclick="selected_books(this)">
                                <p>Planes</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <figure>
                            <img src="/Images/disney/4for99bonus/choice_2.png" alt="Inside Out" class="responsiveImg" id="imgChoice2">
                            <figcaption>
                                <input type="checkbox" name="SelectedBooks" class="required chkChoice" id="chkChoice2" value="19632291" runat="server" onclick="selected_books(this)">
                                <p>Inside Out</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <figure>
                            <img src="/Images/disney/4for99bonus/choice_3.png" alt="Monsters University" class="responsiveImg" id="imgChoice3">
                            <figcaption>
                                <input type="checkbox" name="SelectedBooks" class="required chkChoice" id="chkChoice3" value="19632117" runat="server" onclick="selected_books(this)">
                                <p>Monsters University</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <figure>
                            <img src="/Images/disney/4for99bonus/choice_4.png" alt="Frozen" class="responsiveImg" id="imgChoice4">
                            <figcaption>
                                <input type="checkbox" name="SelectedBooks" class="required chkChoice" id="chkChoice4" value="19632118" runat="server" onclick="selected_books(this)">
                                <p>Frozen</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 smallMarginTop20">
                        <img src="/Images/disney/4for99bonus/bonus-banner.jpg" alt="bonus" class="responsiveImg">
                    </div>
                </div>
                <div class="row marginTop20 marginBot30">
                    <div class="col-md-6 col-sm-6 text-center">
                        <img src="/Images/disney/4for99bonus/bb.png" alt="bb" class="responsiveImg">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="radio stepOffer">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, true, new { @id = "radyes", @Checked = true })
                                <strong><span>*</span>  YES! Please send 2 Bonus Books for just $4.99 — That's 50% off our regular price!</strong>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, false, new { @id = "radno" })
                                <strong>No, thank you</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row marginBot6">
                    <div class="col-md-12 text-center">
                        <img src="/Images/disney/4for99bonus/button_1.png" alt="" class="cursor responsiveImg" id="btnSubmit">

                        <!-- <input type="submit" value="Create" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--header modal-->
    <div class="modal fade" id="modalHeaderMobile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>Ebooks are a convenient way to build a great library, and are perfect for on-the-go reading. Every Disney book that you purchase from Early Moments includes a complimentary companion ebook that can be read on any smartphone, tablet or computer.</p>
                    <p>The ebooks can be read on your iPad through the Early Moments app (free on iTunes) or you can log into your account through any internet browswer on any type of device to read the ebooks using the Early Moments eReader.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal PhotoViewer dialog-->
    <div id="dialogue-prettyPhoto" title="Errors" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modalContainer">
            <div class="modal-dialog">
                <div class="modal-content modal-content-pic">
                    <div class="modal-body prityPhotoContainer">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner prityPhotoImageContainer">
                                <div class="active item">
                                    <img src="/images/disney/preetyphoto/01.png" alt="..." />
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/02.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/03.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/04.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/05.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/06.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/07.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/08.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/09.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/10.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/11.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/disney/preetyphoto/12.png" alt="...">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control carousel-control-pic left" href="#myCarousel" data-slide="prev">
                                <img src="/images/sprite_prev.png" />
                            </a>
                            <a class="carousel-control carousel-control-pic right" href="#myCarousel" data-slide="next">
                                <img src="/images/sprite_next.png" />
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="preetyphotoControl">
                            <ul>
                                <li id="playButton">
                                    <img src="/images/play.png">
                                </li>
                                <li id="pauseButton">
                                    <img src="/images/pause.png">
                                </li>
                                <li id="btnPrev" class="adjH">
                                    <a href="#myCarousel" data-slide="prev">
                                        <img src="/images/prev_sm.png">
                                    </a>
                                </li>
                                <li id="btnNext" class="adjH">
                                    <a href="#myCarousel" data-slide="next">
                                        <img src="/images/next_sm.png">
                                    </a>
                                </li>
                                <li>
                                    <div class="num"></div>
                                </li>

                                <li>
                                    <img src="/images/close.png" data-dismiss="modal" aria-hidden="true">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
}
<script>
    $(document).ready(function () {
        var err = '';

        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            //console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }
    })
</script>

@section headerStrip {
    <header class="row">
        <div class="col-md-12 noPaddingLR">
            <img src="/Images/disney/4for99bonus/header.jpg" alt="Get 4 Books for just $1!" class="responsiveImg hideSmall" id="headerImage ">
            <img src="/Images/disney/4for99bonus/mobile_headerfall.png" alt="Get 4 Books for just 99¢ each!" class="hideBig hand" data-toggle="modal" data-target="#modalHeaderMobile" style="width:100%;">
        </div>
    </header>
}

@section LeftPanel {
    <!-- <img src="/Images/disney/4for99bonus/left_01.jpg" class="responsiveImg"><br>
     <img src="/Images/disney/4for99bonus/left_02.jpg" class="responsiveImg"><br>
     <img src="/Images/disney/4for99bonus/leftBottom.png" class="leftBotImg">
     <p class="heightAdjustLeft"></p>
        -->

    <img src="/Images/disney/4for99bonus/left_01.jpg" class="responsiveImg leftImg1">
    <img src="/Images/disney/4for99bonus/left_02.jpg" class="responsiveImg">

    <img src="/Images/disney/4for99bonus/left_03.jpg" class="responsiveImg">

    <img src="/Images/disney/4for99bonus/leftBottom.png" class="leftBotImg">


}

@section footerSection {
    @Html.Partial("_DisneyFooterPartialPage")
}




