@model deals.earlymoments.com.Models.ShippingModels.ShoppingOrder
@{
    Layout = "~/Views/Shared/_LayoutTripware.cshtml";
}
<script src="~/Script/landers/main.js"></script>

@using (Html.BeginForm())
{
    <div id="pageContainer" class="container-fluid">
        <div id="pageContainerInner" class="pageContainerInner">
            <div id="header" class="header row role-element leadstyle-container">
                <div id="headerInner" class="headerInner">
                    <a id="logo" class="logo role-element leadstyle-image-link"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/disney-reading-small.png"></a>
                </div>
            </div>
            <!--Header-->
            <div id="headlineWrap" class="row headlineWrap role-element leadstyle-container">
                <div id="headlineInner" class="headlineInner inside" style="max-width: 800px;" tabindex="-1">
                    <div id="subhead" class="subhead role-element leadstyle-text" style="display:none;">
                        <div>
                            Limited Time: <br>
                            Get a Free Hardcover Copy of
                        </div>
                    </div>
                    <div id="headline" class="headline role-element leadstyle-text">
                        <div>
                            Where Should We Ship Your Hardcover Book Today? <br>
                            <span style="opacity:.7;">Just $5.95 shipping &amp; handling.</span>
                        </div>
                    </div>


                </div>
            </div>
            <!--headlineWrap-->
            <!--Section1-->

            <div id="hero" class="hero row role-element leadstyle-container">
                <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/tripwire/frozen-essential-guide-starburst-group.png" class="role-element leadstyle-image" style="max-width:400px; display:none;">
                <div class="sectionInner heroInner">

                    <div id="heroLeft" class="heroLeft role-element leadstyle-container">
                        <img id="heroLeftImg" src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/tripwire/frozen-essential-guide-starburst-group.png" class="role-element leadstyle-image" style="width:95%;max-width:400px;">


                        <div id="section2" class="section2 row role-element leadstyle-container">
                            <div class="sectionInner">

                                <div id="section2TestiWrap" class="section2TestiWrap">
                                    <div id="section2Testi1" class="testi role-element leadstyle-container" style="width:90%; margin-left: auto; margin-right:auto;">
                                        <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial3.png" id="testiImg1" class="role-element leadstyle-image">
                                        <p id="testiName1" class="role-element leadstyle-text"><strong>Michelle </strong></p>
                                        <blockquote id="testiBlockquote1" class="role-element leadstyle-text"><div>&ldquo;This book beautifully summarizes the characters of the movie, Frozen. I purchased it for my daughter, but the whole family enjoys it. A must buy, even for adults!&rdquo;</div></blockquote>
                                    </div>

                                </div>
                                <!--Section2 testi wrap-->
                            </div>
                            <!--Section Inner-->
                        </div>


                    </div>

                    <div id="heroRight" class="heroRight role-element leadstyle-container">
                        <div id="heroFormWrap" class="heroFormWrap">
                            <div id="heroFormHeadline" class="heroFormheadline"></div>
                            <div id="heroFormButtonWrap" class="heroFormButtonWrap">

                                <ul class="nav nav-tabs orderform formTabHead">
                                    <li class="active" id="tab1"><a data-toggle="tab" href="#shipping">Shipping Info</a></li>
                                    <li id="tab2"><a data-toggle="tab" href="#billing">Billing Info</a></li>
                                </ul>

                                <div class="tab-content orderform">
                                    <div id="shipping" class="tab-pane fade in active">
                                        <br />

                                        <div class="orderformcontainer">
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.TextBoxFor(model => model.ShippingFirstName, new { @id = "txtShipFirstName", @maxlength = "50", @class = "forminput", @placeholder = "*First Name", @style = "color:#666666; width:98%;" })
                                                <!-- <input type="text" class="forminput" style="color:#666666; width:98%;" value="" name="firstname" placeholder="*First Name">-->
                                            </div>
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.TextBoxFor(model => model.ShippingLastName, new { @id = "txtShipLastName", @maxlength = "50", @class = "forminput", @placeholder = "*Last Name", @style = "color:#666666; width:100%;" })
                                                <!-- <input class="forminput" name="lastname" style="color:#666666;width:100%;" value="" placeholder="*Last Name"><br />-->
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingAddress1, new { @id = "txtShipStreet", @maxlength = "30", @class = "forminput", @placeholder = "*Street Address", @style = "color:#666666;" })
                                            <!--<input type="text" class="forminput" style="color:#666666;" value="" name="streetaddress" placeholder="*Street Address">-->
                                        </div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingAddress2, new { @id = "txtShipStreet2", @maxlength = "30", @class = "forminput", @placeholder = "Address 2", @style = "color:#666666;" })
                                            <!--<input class="forminput" style="color:#666666;" value="" placeholder="Address 2">-->
                                        </div>
                                        <div class="orderformcontainer">
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.TextBoxFor(model => model.ShippingCity, new { @id = "txtShipCity", @maxlength = "50", @class = "forminput", @placeholder = "*City", @style = "color:#666666; width:98%;" })
                                                <!--<input class="forminput" style="color:#666666; width:98%;" value="" placeholder="*City" name="city">--><br />
                                            </div>
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.DropDownListFor(model => model.ShippingState, (IEnumerable<SelectListItem>)ViewData["StatesList"], "Select State", new { @id = "chkShipState", @class = "forminput inputfloatleft", @style = "color:#666666; width:98%;" })
                                                <!--select class="forminput inputfloatleft" style="color:#666666; width:50%;" name="state" required>
                                                    <option value="">*State</option>
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ">Arizona</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="CA">California</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DC">District of Columbia</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">Massachusetts</option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">Mississippi</option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="NH">New Hampshire</option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">North Carolina</option>
                                                    <option value="ND">North Dakota</option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC">South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="TX">Texas</option>
                                                    <option value="UT">Utah</option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY">Wyoming</option>
                                                    <option value="GU">Guam</option>
                                                    <option value="PW">Palau</option>
                                                    <option value="AS">American Samoa</option>
                                                    <option value="FM">Federated States of Micronesia</option>
                                                    <option value="MP">Northern Mariana Islands</option>
                                                    <option value="MH">Marshall Islands</option>
                                                    <option value="PR">Puerto Rico</option>
                                                    <option value="VI">Virgin Islands</option>
                                                    <option value="AA">U.S. Armed Forces – Americas</option>
                                                    <option value="AE">U.S. Armed Forces – Europe</option>
                                                    <option value="AP">U.S. Armed Forces – Pacific</option>
                                                </select-->
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingZipCode, new { @id = "txtShipZipCode", @maxlength = "10", @class = "forminput", @placeholder = "*Zip Code", @style = "color:#666666; width:49%;" })
                                            <!--<input type="text" class="forminput" style="color:#666666; width:49%;" value="*Zip Code" placeholder="*Zip Code">-->
                                        </div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingPhone, new { @id = "txtShipPhone", @maxlength = "10", @class = "forminput", @placeholder = "Phone", @style = "color:#666666; width:49%" })
                                            <!--<input class="forminput" style="color:#666666; width:49%" value="" placeholder="Phone">-->
                                            <br>
                                            <p style="margin-top:.5em;"><span style="font-size:.7em; display:block;line-height:1">Please provide the best phone number to reach you using our autodialer regarding your membership or to make you aware of special offers.</span></p>
                                        </div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingEmail, new { @id = "txtShipEmail", @maxlength = "50", @class = "forminput", @placeholder = "*Email", @style = "color:#666666;" })
                                            <!-- <input type="email" name="email" id="email" class="forminput" style="color:#666666;" value="" placeholder="*Email"> -->
                                        </div>
                                        <div class="orderformcontainer">
                                            @Html.TextBoxFor(model => model.ShippingConfirmEmail, new { @id = "txtShipConfirmEmail", @maxlength = "50", @class = "forminput", @placeholder = "*Confirm Email", @style = "color:#666666;" })
                                            <!-- <input type="email" name="confirmemail" class="forminput" style="color:#666666;" value="" placeholder="*Confirm Email"> -->
                                        </div>
                                        <div class="orderformcontainer">
                                            <table cellpadding="0" cellspacing="0">
                                                <tr><td valign="top"><div style="margin-top:-.3em;"><input type="checkbox"></div></td><td>&nbsp;</td><td valign="top"><p style="font-size:.7em; display:block; line-height:1">Please keep me informed of other great offers from Early Moments.</p></td></tr>
                                                <tr><td valign="top"><div style="margin-top:-.3em;"><input type="checkbox"></div></td><td>&nbsp;</td><td valign="top"><p style="font-size:.7em; display:block; line-height:1">Please let me know about offers from Early Moments partners you think might interest me</p></td></tr>
                                            </table>
                                        </div>

                                        <div class="orderformcontainer">
                                            <p>Optional</p>
                                            @Html.TextBoxFor(model => model.ChildName, new { @id = "txtShipChildName", @maxlength = "50", @class = "forminput", @placeholder = "Child Name", @style = "color:#666666; width:35%;" })
                                            <!--<input class="forminput" style="color:#666666; width:39%;" value="" placeholder="Child Name">-->
                                            @*<div style="display:inline;">&nbsp;</div>*@
                                            @Html.TextBoxFor(model => model.ChildDOB, new { @id = "txtShipChildDOB", @maxlength = "10", @class = "forminput", @placeholder = "Child DOB", @style = "color:#666666;width:34%;" })
                                            <!--<input class="forminput" style="color:#666666;width:34%;" value="" placeholder="Child DOB"> -->
                                            @*<div style="display:inline;">&nbsp;</div>*@
                                            @Html.DropDownListFor(model => model.ChildGender, (IEnumerable<SelectListItem>)ViewData["GenderList"], "Gender", new { @id = "chkShipGender", @class = "forminput", @style = "color:#666666;width:24%;" })
                                            <!--<input class="forminput" style="color:#666666;width:24%;" value="" placeholder="Gender">-->
                                        </div>

                                        <div class="orderform">
                                            <div id="section3Form" class="section3Form">
                                                <div id="btnContinueShipping" class="newBtn2 btn role-element leadstyle-link">Continue</div>
                                                <div style="margin-left:auto; margin-right:auto; margin-bottom:1em; margin-top:1em;">
                                                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/100-secure-seal.png" style="width:100px;">&nbsp;

                                                    <!--- GeoTrust -->
                                                    <!-- GeoTrust True Site [tm] Smart Icon tag. Do not edit. -->
                                                    <script language="JavaScript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                                                    <!-- end GeoTrust Smart Icon tag -->
                                                    <!--- BBB -->
                                                    <a title="Click for the Business Review of Sandvik Publishing Interactive, Inc., a Book, Compact Disc, & DVD Clubs in Danbury CT"
                                                       href="https://www.bbb.org/connecticut/business-reviews/book-compact-disc-and-dvd-clubs/sandvik-publishing-interactive-in-danbury-ct-32000324#sealclick"
                                                       target="_blank">
                                                        <img alt="Click for the BBB Business Review of this Book, Compact Disc, & DVD Clubs in Danbury CT"
                                                             style="border: 0;" src="https://seal-ct.bbb.org/seals/blue-seal-120-61-sandvikpublishinginteractiveinc-32000324.png" />
                                                    </a>
                                                    <!--ends BBB-->
                                                    <!--- TrustWave -->
                                                    <script src="https://sealserver.trustkeeper.net/compliance/seal_js.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"></script>
                                                    <noscript>
                                                        <a href="https://sealserver.trustkeeper.net/compliance/cert.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"
                                                           target="hATW">
                                                            <img src="https://sealserver.trustkeeper.net/compliance/seal.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"
                                                                 border="0" alt="Trusted Commerce" />
                                                        </a>
                                                    </noscript>
                                                    <!---ends TrustWave -->
                                                </div>
                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                    <div id="billing" class="tab-pane fade orderform">
                                        <br />
                                        <div class="orderformcontainer">
                                            Is your billing address the same as your shipping address?
                                            @Html.RadioButtonFor(model => model.isBillingSameToShipping, true, new { @id = "radbillyes", @Checked = true })
                                            <!-- <input type="radio" value="Yes" name="radio1" ng-checked="true" ng-click="getValue()">--> Yes
                                            @Html.RadioButtonFor(model => model.isBillingSameToShipping, false, new { @id = "radbillno" })
                                            <!--<input type="radio" value="No" ng-model="isSameAddress" name="radio1" ng-checked="false" ng-click="getValue()">--> No
                                        </div>
                                        <div class="orderformdivider" id="showBillInfo">
                                            <div class="orderformcontainer">
                                                <p style="color:white;">Billing Address</p>
                                                <div class="fl marginBot10" style="width:50%;">
                                                    @Html.TextBoxFor(model => model.BillingFirstName, new { @id = "txtBillFirstName", @maxlength = "50", @class = "forminput", @placeholder = "*First Name", @style = "color:#666666; width:98%;" })
                                                    <!-- <input class="forminput" style="color:#666666; width:98%;" placeholder="*First Name" name="firstname">-->
                                                </div>
                                                <div class="fl marginBot10" style="width:50%;">
                                                    @Html.TextBoxFor(model => model.BillingLastName, new { @id = "txtBillLastName", @maxlength = "50", @class = "forminput", @placeholder = "*Last Name", @style = "color:#666666;width:100%;" })
                                                    <!--<input class="forminput" style="color:#666666;width:100%;" name="lastname" placeholder="*Last Name">-->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="orderformcontainer">
                                                @Html.TextBoxFor(model => model.BillingAddress1, new { @id = "txtBillStreet", @maxlength = "30", @class = "forminput", @placeholder = "*Street Address", style = "color:#666666;" })
                                                <!--<input class="forminput" style="color:#666666;" placeholder="*Street Address" value="" name="streetaddress">-->
                                            </div>
                                            <div class="orderformcontainer">
                                                @Html.TextBoxFor(model => model.BillingAddress2, new { @id = "txtBillStreet2", @maxlength = "30", @class = "forminput", @placeholder = "Address 2", @style = "color:#666666;" })
                                                <!--<input class="forminput" style="color:#666666;" placeholder="Address 2" value="">-->
                                            </div>
                                            <div class="orderformcontainer">
                                                <div class="fl marginBot10" style="width:50%;">
                                                    @Html.TextBoxFor(model => model.BillingCity, new { @id = "txtBillCity", @maxlength = "50", @class = "forminput", @placeholder = "*City", @style = "color:#666666;" })
                                                    <!-- <input class="forminput" style="color:#666666; width:98%;" placeholder="*City" value="" name="city"> -->

                                                </div>
                                                <div class="fl marginBot10" style="width:50%;">
                                                    @Html.DropDownListFor(model => model.BillingState, (IEnumerable<SelectListItem>)ViewData["StatesList"], "Select State", new { @id = "chkBillState", @class = "forminput inputfloatleft", @style = "color:#666666; width:50%;" })
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="orderformcontainer">
                                                @Html.TextBoxFor(model => model.BillingZipCode, new { @id = "txtBillZipCode", @maxlength = "10", @class = "forminput", @placeholder = "*Zip Code", @style = "color:#666666; width:49%;" })
                                                <!--<input type="text" class="forminput" style="color:#666666; width:49%;" placeholder="*Zip Code" value="" name="zipcode">-->
                                            </div>

                                        </div>
                                        <div class="orderformcontainer">
                                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/creditcardsymbols-visa.png"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/creditcardsymbols-mc.png"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/creditcardsymbols-amx.png"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/creditcardsymbols-dc.png">
                                            <br><br>
                                            @Html.TextBoxFor(model => model.CreditCardNumber, new { @id = "txtCreditCardNumber", @maxlength = "16", @class = "forminput inputfloatleft ccnumeric", @placeholder = "*Card Number", @style = "color:#666666;" })
                                            <!--<input type="text" class="forminput inputfloatleft" style="color:#666666;" placeholder="*Card Number" name="cardnumber" value="">-->
                                            <br><br>
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.DropDownListFor(model => model.CardExpiryMonth, (IEnumerable<SelectListItem>)ViewData["MonthList"], "Month", new { @id = "optCardExpiryMonth", @class = "forminput inputfloatleft", @style = "color:#666666; width:98%;" })
                                                <!-- <select class="forminput inputfloatleft" style="color:#666666; width:98%;" name="expmonth">
                                                     <option value="">*Month</option>
                                                 </select> -->
                                            </div>
                                            <div class="fl marginBot10" style="width:50%;">
                                                @Html.DropDownListFor(model => model.CardExpiryYear, (IEnumerable<SelectListItem>)ViewData["YearList"], "Year", new { @id = "optCardExpiryYear", @class = "forminput inputfloatleft", @style = "color:#666666; width:100%;" })
                                                <!-- <select class="forminput inputfloatleft" style="color:#666666; width:100%;" name="expyear">
                                                     <option value="">*Year</option>
                                                 </select> -->
                                            </div>
                                            <div class="clearfix"></div>
                                            <br />
                                            @Html.TextBoxFor(model => model.SecurityCode, new { @id = "txtCVV", @maxlength = "4", @class = "forminput ccnumeric", @style = "color:#666666;width:49%;", @placeholder = "*Security code" })
                                            &nbsp;&nbsp;<a href="#scode" role="button" data-toggle="modal"><img src="/images/question_mark.png" /></a>
                                            <!--<input type="text" class="forminput inputfloatleft" style="color:#666666;width:49%;" placeholder="*3-dig code" value="" name="cvv"><br>-->
                                            <div id="section3Form" class="section3Form">
                                                <!--<img src="/images/disney/4for99/submit_button_on.gif" alt="" class="responsiveImg buttonContinue" id="btnSubmit">-->
                                                <a class="newBtn2 btn role-element leadstyle-link" id="btnSubmit">Submit</a>
                                                <!--  <a class="newBtn2 btn role-element leadstyle-link" id="btnDownload" href="#divDownload" role="button" data-toggle="modal">Download</a> -->
                                                <div style="margin-left:auto; margin-right:auto; margin-bottom:1em; margin-top:1em; text-align:center;">
                                                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/100-secure-seal.png" style="width:100px;">&nbsp;
                                                    <!--- GeoTrust -->
                                                    <!-- GeoTrust True Site [tm] Smart Icon tag. Do not edit. -->
                                                    <script language="JavaScript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                                                    <!-- end GeoTrust Smart Icon tag -->
                                                    <!--- BBB -->
                                                    <a title="Click for the Business Review of Sandvik Publishing Interactive, Inc., a Book, Compact Disc, & DVD Clubs in Danbury CT"
                                                       href="https://www.bbb.org/connecticut/business-reviews/book-compact-disc-and-dvd-clubs/sandvik-publishing-interactive-in-danbury-ct-32000324#sealclick"
                                                       target="_blank">
                                                        <img alt="Click for the BBB Business Review of this Book, Compact Disc, & DVD Clubs in Danbury CT"
                                                             style="border: 0;" src="https://seal-ct.bbb.org/seals/blue-seal-120-61-sandvikpublishinginteractiveinc-32000324.png" />
                                                    </a>
                                                    <!--ends BBB-->
                                                    <!--- TrustWave -->
                                                    <script src="https://sealserver.trustkeeper.net/compliance/seal_js.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"></script>
                                                    <noscript>
                                                        <a href="https://sealserver.trustkeeper.net/compliance/cert.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"
                                                           target="hATW">
                                                            <img src="https://sealserver.trustkeeper.net/compliance/seal.php?code=w6ox8fZ9ZRuBGnDTgY2da3XmQ66BnG&style=normal&size=105x54&language=en"
                                                                 border="0" alt="Trusted Commerce" />
                                                        </a>
                                                    </noscript>
                                                    <!---ends TrustWave -->
                                                </div>
                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Section Inner-->
                </div>


                <!--Section2-->
                <div id="section3" class="section3 row role-element leadstyle-container" style="margin-top:-50px; display:none;">
                    <div class="sectionInner">
                        <div style="margin-left:auto; margin-right:auto; margin-bottom:1em; margin-top:1em;">
                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/100-secure-seal.png" style="width:100px;">&nbsp;
                            <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/trust-seals.png">
                        </div>
                    </div>
                    <!--Section Inner-->
                </div>
                <!--Section 3-->


                <div id="section2" class="section2 row role-element leadstyle-container">
                    <div class="sectionInner">

                        <div id="section2TestiWrap" class="section2TestiWrap">
                            <div id="section2Testi1" class="testi role-element leadstyle-container" style="display:none;">
                                <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/tripwire/smiling-woman-7.png" id="testiImg1" class="role-element leadstyle-image">
                                <p id="testiName1" class="role-element leadstyle-text"><strong>Michelle </strong></p>
                                <blockquote id="testiBlockquote1" class="role-element leadstyle-text"><div>&ldquo;This book beautifully summarizes the characters of the movie, Frozen. I purchased it for my daughter, but the whole family enjoys it. A must buy, even for adults!&rdquo;</div></blockquote>
                            </div>
                            <div id="section2Testi2" class="testi role-element leadstyle-container">
                                <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial5.png" id="testiImg2" class="role-element leadstyle-image">
                                <p id="testiName2" class="role-element leadstyle-text"><strong>April </strong></p>
                                <blockquote id="testiBlockquote2" class="role-element leadstyle-text"><div>&ldquo;Young Frozen fans will love this book! It does not disappoint, and is perfect for kids ages 4-8. It contains a summary of the movie in words and pictures featured in a first encyclopedia-type format.&rdquo;</div></blockquote>
                            </div>
                            <div id="section2Testi3" class="testi role-element leadstyle-container">
                                <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial8.png" id="testiImg3" class="role-element leadstyle-image">
                                <p id="testiName3" class="role-element leadstyle-text"><strong>Ann </strong></p>
                                <blockquote id="testiBlockquote3" class="role-element leadstyle-text"><div>&ldquo;My daughter absolutely loves Frozen, so she is loving this book. It has a lot of detail and extra facts about the movie.&rdquo;</div></blockquote>
                            </div>
                        </div>
                        <!--Section2 testi wrap-->
                    </div>
                    <!--Section Inner-->
                </div>


            </div>
            <!--PageContainer Inner-->
            <div id="footer" class="footer row role-element leadstyle-container">
                <div id="footerText" class="footerText role-element leadstyle-text"><div>&#169; Early Moments 2016</div></div>
            </div>
        </div>
        <!--Page Container-->
        @*<modal title="Error Message" visible="showModal">
                {{errormsg}}
            </modal>*@

    </div>
}

<!--Credit Card Security Question Mark-->
<div id="scode" title="Security Code" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <section class="modal-header text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4>Credit Card Verification (CCV) Code</h4>
            </section>
            <section class="modal-body modal-body-alt text-left">
                <img src="/images/cvv.jpg" />
            </section>
        </div>
    </div>
</div>

<!--Download links Dialogue-->
<div id="divDownload" title="Downloads" class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <section class="modal-header text-left">
                <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      ×
                  </button> -->
                <h4>Downloads</h4>
            </section>
            <section class="modal-body modal-body-alt text-left">
                <div id="downloadText" style="overflow:auto;">
                </div>
            </section>
            <section class="modal-footer">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary" id="btnDownLoadCancel">
                    Okay
                </button>
            </section>
        </div>
    </div>
</div>
<!--Ends Download links Dialogue-->
<!--end of body section -->
<script>
    $(document).ready(function () {
        var err = '';
        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            // console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }

    })
</script>