@{
    Layout = "~/Views/Shared/_LayoutTripware.cshtml";
}

<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1122629181099927');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=1122629181099927&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

<div id="pageContainer" class="container-fluid">
    <div id="pageContainerInner" class="pageContainerInner">
        <div id="header" class="header row role-element leadstyle-container">
            <div id="headerInner" class="headerInner">
                <a id="logo" class="logo role-element leadstyle-image-link"><img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/disney-reading-small.png"></a>
            </div>
        </div>
        <!--Header-->
        <div id="headlineWrap" class="row headlineWrap role-element leadstyle-container">
            <div id="headlineInner" class="headlineInner">
                <div id="subhead" class="subhead role-element leadstyle-text" style="display:none;">
                    <div>
                        Limited Time: <br>
                        Get a Free Hardcover Copy of
                    </div>
                </div>
                <div id="headline" class="headline role-element leadstyle-text"><div>Thank You.</div></div>


            </div>
        </div>
        <!--headlineWrap-->
        <!--Section1-->



        <div id="hero" class="hero row role-element leadstyle-container">

            <div class="sectionInner heroInner">



                <div id="" class=" role-element leadstyle-container">
                    <div id="heroFormWrap" class="heroFormWrap">
                        <div id="heroFormHeadline" class="heroFormheadline"></div>
                        <div id="heroFormButtonWrap" class="heroFormButtonWrap">


                            <div class="orderform">


                                <div class="orderformcontainer" style="padding-top:1em;">
                                    <p>Your Disney Wonderful World of Reading Welcome Package will be on its way to you and your child shortly. You will also receive a confirmation email.</p>
                                    <div id="divSpecialText">@Html.Raw(ViewBag.SpecialText)</div>
                                    <p><strong>Confirmation #: @ViewBag.order_id</strong></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <strong>Shipping:</strong>
                                                <br>
                                                @Html.Raw(ViewBag.ShippingAddress)
                                            </p>

                                            <p>
                                                <strong>Billing:</strong><br>
                                                @Html.Raw(ViewBag.BillingAddress)
                                            </p>
                                            <br>
                                        </div>
                                        <div class="col-md-6" style="color: #595757;">
                                            <strong>Order Summary:</strong>
                                            <div class="table-responsive noBorder orderDetails">
                                                @Html.Raw(ViewBag.Cart)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Section Inner-->

        </div>




        <!--Section2-->
        <div id="section3" class="section3 row role-element leadstyle-container" style="margin-top:-50px; display:none;">
            <div class="sectionInner">

                <div style="margin-left:auto; margin-right:auto; margin-bottom:1em; margin-top:1em;">
                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/100-secure-seal.png" style="width:100px;">&nbsp;
                    <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/cart/trust-seals.png">
                </div>
            </div>
            <!--Section Inner-->
        </div>
        <!--Section 3-->




        <div id="section2" class="section2 row role-element leadstyle-container">
            <div class="sectionInner">

                <div id="section2TestiWrap" class="section2TestiWrap">
                    <div id="section2Testi1" class="testi role-element leadstyle-container" style="display:none;">
                        <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/images/tripwire/smiling-woman-7.png" id="testiImg1" class="role-element leadstyle-image">
                        <p id="testiName1" class="role-element leadstyle-text"><strong>Michelle </strong></p>
                        <blockquote id="testiBlockquote1" class="role-element leadstyle-text"><div>&ldquo;This book beautifully summarizes the characters of the movie, Frozen. I purchased it for my daughter, but the whole family enjoys it. A must buy, even for adults!&rdquo;</div></blockquote>
                    </div>
                    <div id="section2Testi2" class="testi role-element leadstyle-container">
                        <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial5.png" id="testiImg2" class="role-element leadstyle-image">
                        <p id="testiName2" class="role-element leadstyle-text"><strong>April </strong></p>
                        <blockquote id="testiBlockquote2" class="role-element leadstyle-text"><div>&ldquo;Young Frozen fans will love this book! It does not disappoint, and is perfect for kids ages 4-8. It contains a summary of the movie in words and pictures featured in a first encyclopedia-type format.&rdquo;</div></blockquote>
                    </div>
                    <div id="section2Testi3" class="testi role-element leadstyle-container">
                        <img src="https://s3-us-west-2.amazonaws.com/brinkeroptimizer/disney/testimonials/testimonial8.png" id="testiImg3" class="role-element leadstyle-image">
                        <p id="testiName3" class="role-element leadstyle-text"><strong>Ann </strong></p>
                        <blockquote id="testiBlockquote3" class="role-element leadstyle-text"><div>&ldquo;My daughter absolutely loves Frozen, so she is loving this book. It has a lot of detail and extra facts about the movie.&rdquo;</div></blockquote>
                    </div>
                </div>
                <!--Section2 testi wrap-->
            </div>
            <!--Section Inner-->
        </div>


    </div>
    <!--PageContainer Inner-->
    <div id="footer" class="footer row role-element leadstyle-container">
        <div id="footerText" class="footerText role-element leadstyle-text"><div>&#169; Early Moments 2016</div></div>
    </div>
</div>

<!--Download links Dialogue-->
<div id="divDownload" title="Downloads" class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <section class="modal-header text-left">
                <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      ×
                  </button> -->
                <h4>Downloads</h4>
            </section>
            <section class="modal-body modal-body-alt text-left">
                <div id="downloadText" style="overflow:auto;">
                </div>
            </section>
            <section class="modal-footer">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary" id="btnDownLoadCancel">
                    Okay
                </button>
            </section>
        </div>
    </div>
</div>
<!--Page Container-->

<script>
    $(document).ready(function () {
        var err = '';
        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            // console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }

    })
</script>

<!-- global pixel for Propel Media -->
<script type="text/javascript" src="https://tracking.propelmedia.com/?id=1G7660G85C8GAE17196E&fetch=0&value=0">
</script>
<noscript>
    <div style="display: inline;">
        <img height="1" width="1" style="border-style: none;" alt="" src="https://tracking.propelmedia.com/?id=1G7660G85C8GAE17196E&fetch=1&value=0" />
    </div>
</noscript>
<!-- global pixel for Propel Media -->
<!-- ES Order Tracking Code -->
<script type="text/javascript">
    var esg = esg || {};
    _esg['value'] = '@ViewBag.amt';
    (function () {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') +
        'links.earlymoment.com/gs/2zv/F/b6308cbf';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
</script>
<!-- ES Order Tracking Code -->