@model deals.earlymoments.com.Models.ShippingModels.ShippingAddress
@{
    //ViewBag.Title = "Four_for_1";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="/Content/themes/seuss/4for99spring/custom.css" rel="stylesheet" />
<link href="/Content/themes/seuss/4for99spring/media.css" rel="stylesheet" />
<script src="/script/seuss/4for99spring/main.js"></script>
<script src="/script/Validation.js"></script>
<!-- Facebook Pixel Code (by David / 02.03.2015) -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1122629181099927');
    fbq('track', "PageView");
    fbq('track', "OfferLPView");
</script>
<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=1122629181099927&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

@using (Html.BeginForm())
{
    <img src="/Images/seuss/4for99spring/springformbkg.gif" class="responsiveImg formBgMain hideSmall">
    <div class="rightFormDiv">
        <img src="/Images/seuss/4for99spring/right_top1.png" class="responsiveImg hideSmall">
        <div class="row orderForm roundedBorderBottom">
            <p class="formStep1Bg"><img src="/Images/seuss/4for99spring/step1.png" class="responsiveImg formStep1"></p>

            <div class="formContainer smallMarginBottom20 adjustMobileFormContainer">
                @Html.Partial("_ShippingPartialPage", Model)
            </div>

            <p class="formStep2Bg"><img src="/Images/seuss/4for99spring/step2.png" class="responsiveImg formStep2"></p>

            <div class="formContainer">
                <div class="row marginTop20 marginBot30">
                    <div class="col-md-6 col-sm-6 col-xs-5 text-center">
                        <img src="/Images/seuss/4for99spring/bb.png" alt="bb" class="responsiveImg">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <div class="radio stepOffer">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, true, new { @id = "radyes", @Checked = true })
                                <strong><span>*</span> YES! Please send 2 Bonus Books for just $5.99 — That's 50% off our regular price!</strong>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, false, new { @id = "radno" })
                                <strong>No, thank you</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row marginBot6">
                    <div class="col-md-12 text-center">
                        <img src="/Images/seuss/4for99spring/button_1.png" alt="" class="cursor responsiveImg" id="btnSubmit">

                        <!-- <input type="submit" value="Create" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var err = '';
        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            // console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }

    })
</script>

@section headerStrip {
    <header class="row">
        <div class="col-md-12 noPaddingLR">
            <img src="/Images/seuss/4for99spring/top.gif" alt="Get 4 Books for just $1!" class="responsiveImg" id="headerImage">
        </div>
    </header>
}

@section LeftPanel {
    <img src="/Images/seuss/4for99spring/left_01.jpg" class="responsiveImg"><br>
    <img src="/Images/seuss/4for99spring/left_02.jpg" class="responsiveImg"><br>
    <img src="/Images/seuss/4for99spring/leftBottom.png" class="leftBotImg">
    <p class="heightAdjustLeft"></p>
}

@section footerSection {
    @Html.Partial("_SeussFooterPartialPage")
}