@model deals.earlymoments.com.Models.ShippingModels.ShippingAddress
@{
    //ViewBag.Title = "Four_for_1";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="/Content/themes/seuss/4for1Calendar/custom.css" rel="stylesheet" />
<link href="/Content/themes/seuss/4for1Calendar/media.css" rel="stylesheet" />
<link href="/Content/prettyPhoto.css" rel="stylesheet" />
<script src="/Script/jquery.prettyPhoto.js"></script>
<script src="/script/seuss/4for1Calendar/main.js"></script>
<script src="/script/Validation.js"></script>

@using (Html.BeginForm("Four_for_1_Calendar", "Seuss", FormMethod.Post, new { @id = "form1" }))
{
  <!--  <img src="/Images/seuss/4for1Calendar/springformbkg.gif" class="responsiveImg formBgMain hideSmall">-->
    <div class="rightFormDiv">
        <img src="/Images/seuss/4for1Calendar/right_top1.png" class="responsiveImg hideSmall">
        <div class="row orderForm roundedBorderBottom">
            <p class="formStep1Bg"><img src="/Images/seuss/4for1Calendar/step1.png" class="responsiveImg formStep1"></p>

            <div class="formContainer smallMarginBottom20 adjustMobileFormContainer">
                @Html.Partial("_ShippingPartialPage", Model)
            </div>

            <p class="formStep2Bg"><img src="/Images/seuss/4for1Calendar/step2.png" class="responsiveImg formStep2"></p>

            <div class="formContainer">
                <div class="row marginTop20 marginBot30">
                    <div class="col-md-6 col-sm-6 col-xs-5 text-center">
                        <img src="/Images/seuss/4for1Calendar/bb.png" alt="bb" class="responsiveImg">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-7">
                        <div class="radio stepOffer">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, true, new { @id = "radyes", @Checked = true })
                                <strong><span>*</span> YES! Please send the 2016 Dr. Seuss Wall Calendar for just $6.99 — That's 50% off our regular price!</strong>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.isBonusSelected, false, new { @id = "radno" })
                                <strong>No, thank you</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row marginBot6">
                    <div class="col-md-12 text-center">
                        <img src="/Images/seuss/4for1Calendar/button_1.png" alt="" class="cursor responsiveImg" id="btnSubmit">

                        <!-- <input type="submit" value="Create" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!-- Modal PhotoViewer dialog-->
    <div id="dialogue-prettyPhoto" title="Errors" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modalContainer">
            <div class="modal-dialog">
                <div class="modal-content modal-content-pic">
                    <div class="modal-body prityPhotoContainer">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner prityPhotoImageContainer">
                                <div class="active item">
                                    <img src="/images/seuss/preetyphoto/01.png" alt="..." />
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/02.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/03.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/04.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/05.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/06.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/07.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/08.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/09.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/10.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/11.png" alt="...">
                                </div>
                                <div class="item">
                                    <img src="/images/seuss/preetyphoto/12.png" alt="...">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control carousel-control-pic left" href="#myCarousel" data-slide="prev">
                                <img src="/images/sprite_prev.png" />
                            </a>
                            <a class="carousel-control carousel-control-pic right" href="#myCarousel" data-slide="next">
                                <img src="/images/sprite_next.png" />
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="preetyphotoControl">
                            <ul>
                                <li id="playButton">
                                    <img src="/images/play.png">
                                </li>
                                <li id="pauseButton">
                                    <img src="/images/pause.png">
                                </li>
                                <li id="btnPrev" class="adjH">
                                    <a href="#myCarousel" data-slide="prev">
                                        <img src="/images/prev_sm.png">
                                    </a>
                                </li>
                                <li id="btnNext" class="adjH">
                                    <a href="#myCarousel" data-slide="next">
                                        <img src="/images/next_sm.png">
                                    </a>
                                </li>
                                <li>
                                    <div class="num"></div>
                                </li>

                                <li>
                                    <img src="/images/close.png" data-dismiss="modal" aria-hidden="true">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
}
<script>
    $(document).ready(function () {
        var err = '';

        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }

    })
</script>

@section headerStrip {
    <header class="row">
        <div class="col-md-12 noPaddingLR">
            <img src="/Images/seuss/4for1Calendar/header.jpg" alt="Get 4 Books for just $1!" class="responsiveImg" id="headerImage">
        </div>
    </header>
}

@section LeftPanel {
    <!-- <img src="/Images/seuss/4for1Calendar/left_01.jpg" class="responsiveImg"><br>
     <img src="/Images/seuss/4for1Calendar/left_02.jpg" class="responsiveImg"><br>
     <img src="/Images/seuss/4for1Calendar/leftBottom.png" class="leftBotImg">
     <p class="heightAdjustLeft"></p>
        -->
    <img src="/Images/seuss/4for1Calendar/left_01.jpg" class="responsiveImg leftImg1">
    <a href="#dialogue-prettyPhoto" role="button" data-toggle="modal">
        <img src="/Images/seuss/4for1Calendar/leftBottom.png" class="leftBotImg">
    </a>
    <!--
      <a href="/Images/seuss/preetyphoto/02.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/03.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/04.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/05.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/06.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/07.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/08.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/09.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/10.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/11.png" rel="lightbox[group]"></a>
     <a href="/Images/seuss/preetyphoto/12.png" rel="lightbox[group]"></a>
        -->
    <p class="heightAdjustLeft"></p>
}

@section footerSection {
    @Html.Partial("_SeussFooterPartialPage")
}