@model deals.earlymoments.com.Models.ShippingModels.ShippingBillingOrder
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>:: Kids Love Dr. Seuss &amp; His Friends ::</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/spinn.css" rel="stylesheet" />
    <!--<link href="css/custom.css" rel="stylesheet"> -->
    <link href="/Content/themes/seuss/4for1spring2/common.css" rel="stylesheet" />
    <link href="/Content/themes/seuss/4for1spring2/custom.css" rel="stylesheet" />
    <link href="/Content/themes/seuss/4for1spring2/media.css" rel="stylesheet" />

    <!-- Include Bootstrap Datepicker -->
    <link href="/Content/jquery-ui.css" rel="stylesheet">
    <link href="/Content/spinn.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/script/jquery.1.11.3.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>

    <script src="/script/jquery-ui.js"></script>
    <script src="/script/enquire.min.js"></script>
    <script src="/Script/seuss/4for1spring2/Validation.js"></script>
    <script src="/script/seuss/4for1spring2/main.js"></script>
    <script src="/Script/spin.min.js"></script>
    <script>
        var isPaymentVisible = false;
        var orderSummary = '@ViewBag.CartSummary';


        $(document).ready(function () {
            var err = '';
            if ('@ViewBag.ErrorMsg' != null) {
                err = '@Html.Raw(ViewBag.ErrorMsg)';
                // console.log(err);
                if (err.length > 0) {
                    $("#spnErrorMessage").html(err.toString());
                    $("#dialog-message").modal("toggle");
                }
            }

            console.log('Visible' + isPaymentVisible);
            if (orderSummary != null && orderSummary != '' && orderSummary != undefined && orderSummary != 'undefined') {
                isPaymentVisible = true;
                showPayment();
            }
        });

    </script>
</head>

<body>
    @using (Html.BeginForm())
    {
        <div class="container customMainContainer shadowLR roundedBorderBottom marginBot20">
            <header class="row">
                <div class="col-md-12 noPaddingLR">
                    <img src="/images/seuss/4for1spring2/top.gif" alt="Get 4 Books for just 99¢ each!" class="responsiveImg" id="headerImageLanding">
                    <img src="/images/seuss/4for1spring2/header.jpg" alt="Get 4 Books for just 99¢ each!" class="responsiveImg" id="headerImagePayment">
                </div>
            </header>

            <div class="row">
                <div class="col-md-7 col-sm-7 noPaddingLR hideSmall">
                    <div id="landingLeft">
                        <img src="/images/seuss/4for1spring2/left_01.jpg" class="responsiveImg"><br>
                        <img src="/images/seuss/4for1spring2/left_02.jpg" class="responsiveImg"><br>
                        <img src="/images/seuss/4for1spring2/leftBottom.png" class="leftBotImg">
                        <p class="heightAdjustLeft"></p>
                    </div>

                    <div id="paymentLeft">
                        <img src="/images/seuss/4for1spring2/left_1.jpg" class="responsiveImg"><br>
                        <img src="/images/seuss/4for1spring2/left_2.jpg" class="responsiveImg">
                        <div class="clearfix"></div>
                        <div class="panel panel-default orderSummery">
                            <div class="panel-heading hideBig hand" id="viewOrderSummeryBtn">
                                <h5>Click here to View</h5>
                            </div>
                            <div class="panel-body" id="viewOrderSummery">
                                <h4 class="roundedBorderTop">Order Summary</h4>
                                @Html.Raw(ViewBag.CartSummary)
                                <!--<div class="table-responsive smallTable f12">
                                    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <td>Item</td>
                                                <td>Price</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr valign="middle">
                                                <td>
                                                    4 Books by Dr. Seuss&copy; &amp; His Friends<br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<em>The Cat in the Hat</em><br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<em>Go, Dog. Go!</em><br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<em>Mr. Brown Can Moo! Can You?</em><br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<em>Ten Apples Up On Top!</em>
                                                </td>
                                                <td>$1.00</td>
                                            </tr>
                                            <tr>
                                                <td><em>One Fish, Two Fish, Red Fish, <br>Blue Fish and Dr. Seuss's ABC</em></td>
                                                <td>$5.99</td>
                                            </tr>
                                            <tr>
                                                <td>Shipping and Handling</td>
                                                <td>FREE</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td><strong>Today's Total:</strong></td>
                                                <td><strong>$6.99</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div> -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h3 class="text-center hideSmall sky bold">$<span id="spnSavedPrice">51.94</span>!</h3>
                        <p><img src="/images/seuss/4for1spring2/left-Bottom.jpg" class="responsiveImg marginTop10"></p>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 noPaddingLR rightCol">
                    <div class="rightFormDiv" id="landingRight">
                        <img src="/images/seuss/4for1spring2/right_top1.png" class="responsiveImg hideSmall">
                        <div class="row orderForm roundedBorderBottom">
                            <p class="formStep1Bg"><img src="/images/seuss/4for1spring2/step1.png" class="responsiveImg formStep1"></p>
                            <div class="formContainer smallMarginBottom20 adjustMobileFormContainer">
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4"></div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 bold">
                                        <span>*</span> Required field
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> First Name</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <!--<input type="text" maxlength="15" class="form-control" id="txtFirstName">-->
                                        @Html.TextBoxFor(model => model.ShippingFirstName, new { @id = "txtShipFirstName", @maxlength = "50", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> Last Name</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingLastName, new { @id = "txtShipLastName", @maxlength = "50", @class = "form-control" })
                                        <!-- <input type="text" maxlength="15" class="form-control" id="txtLastName"> -->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> Address</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingAddress1, new { @id = "txtShipStreet", @maxlength = "30", @class = "form-control" })
                                        <!--<input type="text" maxlength="30" class="form-control" id="txtAddress"> -->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label>Address 2</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingAddress2, new { @id = "txtShipStreet2", @maxlength = "30", @class = "form-control" })
                                        <!-- <input type="text" maxlength="30" class="form-control" id="txtAddress2"> -->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> City</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingCity, new { @id = "txtShipCity", @maxlength = "50", @class = "form-control" })

                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> State</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.DropDownListFor(model => model.ShippingState, (IEnumerable<SelectListItem>)ViewData["StatesList"], "Select State", new { @id = "chkShipState", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> Zip Code</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 zip">
                                        @Html.TextBoxFor(model => model.ShippingZipCode, new { @id = "txtShipZipCode", @maxlength = "10", @class = "form-control" })

                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingPhone, new { @id = "txtShipPhone", @maxlength = "10", @class = "form-control" })
                                        <!--<div class="form-inline phone">
                                            <input type="text" maxlength="3" class="form-control" id="txtPhone1">
                                            <input type="text" maxlength="3" class="form-control" id="txtPhone2">
                                            <input type="text" maxlength="4" class="form-control" id="txtPhone3">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> Email</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingEmail, new { @id = "txtShipEmail", @maxlength = "50", @class = "form-control" })
                                        <!--<input type="text" maxlength="50" class="form-control" id="txtEmail">-->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label><span>*</span> Confirm Email</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ShippingConfirmEmail, new { @id = "txtShipConfirmEmail", @maxlength = "50", @class = "form-control" })
                                        <!--<input type="text" maxlength="50" class="form-control" id="txtConfirmEmail">-->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label>Child Name</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ChildName, new { @id = "txtShipChildName", @maxlength = "50", @class = "form-control" })
                                        <!--<input type="text" maxlength="30" class="form-control" id="txtChildName">-->
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label>Child Date of Birth or Due Date</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.ChildDOB, new { @id = "txtShipChildDOB", @maxlength = "10", @class = "form-control", @placeholder = "MM/dd/yyyy" })
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                        <label>Child Gender</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 childGender">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.ChildGender, (IEnumerable<SelectListItem>)ViewData["GenderList"], "Gender", new { @id = "chkShipGender", @class = "form-control" })
                                            <div class="input-group-addon modalQ" data-toggle="modal" data-target="#childGndr">
                                                <i class="fa fa-question-circle f18 hand"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="formStep2Bg"><img src="/images/seuss/4for1spring2/step2.png" class="responsiveImg formStep2"></p>

                            <div class="formContainer">
                                <div class="row marginTop20 marginBot30">
                                    <div class="col-md-6 col-sm-6 col-xs-5 text-center">
                                        <img src="/images/seuss/4for1spring2/bb.png" alt="bb" class="responsiveImg">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-7">
                                        <div class="radio stepOffer">
                                            <label>
                                                @Html.RadioButtonFor(model => model.isBonusSelected, true, new { @id = "radyes", @Checked = true })
                                                YES! Please send 2 Bonus Books for just $4.99 — That's 50% off our regular price!
                                            </label>

                                        </div>
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(model => model.isBonusSelected, false, new { @id = "radno" })
                                                No, thank you
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row marginBot6">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" name="SubmitButton" id="btnShippingSubmit" value="Rush my books" class="glossyRed redButtons">

                                        <!--<img src="/images/seuss/4for1spring2/button_1.png" alt="" class="responsiveImg hand" onclick="showPayment();">-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="paymentRight">
                        <div class="rightFormDiv">
                            <p class="formHeader"><img src="/images/seuss/4for1spring2/right_top1.png" class="responsiveImg" id="rightTopDesktop"></p>
                            <div class="row orderForm roundedBorderBottom">
                                <p class="formStep1Bg" style="margin-bottom:0;"><img src="/images/seuss/4for1spring2/step3.png" class="responsiveImg formStep1"></p>

                                <div class="formContainer smallMarginBottom20 adjustMobileFormContainer">
                                    <div class="row marginBot6">
                                        <div class="col-md-12">
                                            <p class="f12 bold centerSmall">
                                                <span class="red">*</span>Is your billing address the same as your shipping address?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row marginBot6">
                                        <div class="col-md-12 text-center formRadio">
                                            <!--showBillInfo radio-->
                                            <!--
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="radbillyes" value="option1" checked>
                                                <strong>YES</strong>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="radbillno" value="option2">
                                                <strong>NO</strong>
                                            </label> -->
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.isBillingSameToShipping, true, new { @id = "radbillyes", @Checked = true })
                                                <small>YES</small>
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.isBillingSameToShipping, false, new { @id = "radbillno" })
                                                <small>NO</small>
                                            </label>
                                            <!--showBillInfo radio-->
                                        </div>
                                    </div>
                                    <div id="showBillInfo">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p class="bold red f18">BILLING INFORMATION</p>
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> First Name</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.TextBoxFor(model => model.BillingFirstName, new { @id = "txtBillFirstName", @maxlength = "50", @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> Last Name</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.TextBoxFor(model => model.BillingLastName, new { @id = "txtBillLastName", @maxlength = "50", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> Address</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.TextBoxFor(model => model.BillingAddress1, new { @id = "txtBillStreet", @maxlength = "30", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label>Address 2</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.TextBoxFor(model => model.BillingAddress2, new { @id = "txtBillStreet2", @maxlength = "30", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> City</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.TextBoxFor(model => model.BillingCity, new { @id = "txtBillCity", @maxlength = "50", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> State</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.DropDownListFor(model => model.BillingState, (IEnumerable<SelectListItem>)ViewData["StatesList"], "Select State", new { @id = "chkBillState", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row marginBot6">
                                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                                <label><span>*</span> Zip Code</label>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 zip">
                                                @Html.TextBoxFor(model => model.BillingZipCode, new { @id = "txtBillZipCode", @maxlength = "10", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row marginBot6">
                                        <div class="col-md-12 text-center marginTop20">
                                            <p><img src="/images/cc.png" class="responsiveImg"></p>
                                        </div>
                                    </div>
                                    <div class="row marginBot6">
                                        <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                            <label><span>*</span> Card Number</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            @Html.TextBoxFor(model => model.CreditCardNumber, new { @id = "txtCreditCardNumber", @maxlength = "16", @class = "form-control ccnumeric" })

                                        </div>
                                    </div>
                                    <div class="row marginBot6">
                                        <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                            <label><span>*</span> Exp. Date</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 form-inline expDate">
                                            @Html.DropDownListFor(model => model.CardExpiryMonth, (IEnumerable<SelectListItem>)ViewData["MonthList"], "Month", new { @id = "optCardExpiryMonth" })
                                            @*<span style="color:#000;">&nbsp; / &nbsp;</span>*@
                                            @Html.DropDownListFor(model => model.CardExpiryYear, (IEnumerable<SelectListItem>)ViewData["YearList"], "Year", new { @id = "optCardExpiryYear" })

                                        </div>
                                    </div>
                                    <div class="row marginBot6">
                                        <div class="col-md-4 col-sm-4 col-xs-4 formLabel">
                                            <label><span>*</span> CVV Code</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 cvvBox">
                                            <div class="input-group cvv">
                                                @Html.TextBoxFor(model => model.SecurityCode, new { @id = "txtCVV", @maxlength = "4", @class = "form-control ccnumeric" })
                                                <div class="input-group-addon modalQ" data-toggle="modal" data-target="#cvvModal">
                                                    <i class="fa fa-question-circle f18 hand"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formContainer adjustMobileFormContainer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="stepAgreementContainer marginTop15">
                                                <!--stepAgreementBox start-->
                                                <p class="bold">&nbsp;Membership Agreement:&nbsp;</p>
                                                <div class="stepAgreementBox marginBot10">
                                                    <fieldset class="fieldset-membership">
                                                        <div class="scroll text-justify" id="divMemberAgreement">
                                                            <strong>It's easy to share the gift of reading with your child.</strong> We make it easy and affordable to fill your home with wonderful and educational children's books each month. Join the <em>Dr. Seuss™ &amp; His Friends</em> book club today and we'll send you a Welcome Package with four best-loved <em>Dr. Seuss™ &amp; His Friends</em> book club titles for just 99¢ each! <u>Shipping is FREE</u>!
                                                            <br><br>
                                                            <strong>Plus... get an extra money-saving bonus.</strong> Save even more when you check the Bonus Books box! You'll get two extra <em>Dr. Seuss™ &amp; His Friends</em> books for just $5.99 – that's 50% OFF our everyday low price – and there is no additional shipping and handling charge!
                                                            <br><br>
                                                            <strong>Encourage a lifelong love of reading.</strong> Each month you and your child will benefit from receiving 4 more <em>Dr. Seuss™ &amp; His Friends</em> storybooks to review and enjoy. If you decide to keep them, they are yours for just $5.99 per book plus a small shipping and handling charge.
                                                            <br><br>
                                                            <strong>Your complete satisfaction is guaranteed.</strong> If for any reason these four books don't tickle your little one's funny bone, simply return them to us at your expense with a note marked "cancel," and we'll gladly refund the purchase price... no questions asked. Nothing more will be sent.
                                                            <br><br>
                                                            Your exclusive membership benefits allow you to return any book package that does not delight you within 30 days of its original ship date. Use our simple instructions within the shipment to return the package at your expense, and we'll refund the purchase price, less shipping and handling. You may cancel your membership at any time, for any reason. There is no purchase commitment.
                                                            <br><br>
                                                            <strong>Exclusive FREE preview privileges.</strong> As a member of the <em>Dr. Seuss™ &amp; His Friends</em> book club who has purchased two club shipments, you will also be automatically enrolled in our separate <em>Free Preview Program</em> to receive, up to four times a year, 7-day free previews of two giant-size Dr. Seuss classics or other items to complement your club. We will always notify you first with offer details, price (usually about $15.00 plus shipping and handling), a reply form and a toll-free number. Simply tell us within 10 days if you choose not to receive the package announced, or do nothing and it will be sent. As always, your satisfaction is guaranteed and if you do not wish to keep any preview package you receive, you may return it at our expense. You may cancel your <em>Free Preview</em> membership at any time. Club and <em>Free Preview</em> accounts must be canceled separately; see <em>Free Preview</em> invoice for cancellation instructions.
                                                            <br><br>
                                                            <span style="text-decoration:underline;">Other qualification details and important information</span>: You must be 18 years of age or older to order and all orders are subject to approval. Limit one per household. Out-of-stock titles and free items may be replaced by alternate selections.
                                                            <br><br>

                                                            For your convenience, please note that the Welcome Package, all future club shipments and <em>Free Preview</em> shipments will be charged to the credit card you provided at sign-up. Sales tax will be added for members in CT, PA and IL. Please pay on time. A late charge will be added to overdue payments to help cover the cost of sending recurring bills. Overpayments on cancelled accounts are subject to a $1 per month fee. Future contact may include e-mail if your account is overdue.
                                                            <br><br>
                                                            Customers may occasionally receive information on products, services, special deals, and e-newsletters. If you no longer wish to receive any marketing or promotional materials from us or our partners you may opt-out of receiving these communications using the link located on the bottom of all such promotional e-mails. <a style="color:#000000;" href="http://www.earlymoments.com/Privacy-Policy/">Click here to read our Privacy Policy</a>.
                                                            <br><br>
                                                            Dr. Seuss properties TM &amp; ©
                                                            <script type="text/javascript">
                                                                var d = new Date; var year = d.getFullYear(); document.write(d.getFullYear());
                                                            </script>2016 Dr. Seuss Enterprises. L.P. All Rights Reserved.
                                                            <br>
                                                        </div>
                                                        <div id="divViewTermsAndConditions" class="text-center">
                                                            <span id="spanTermsAndConditionsSummaryLable">Click here to view complete Terms &amp; Conditions</span>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!--stepAgreementBox end-->
                                                <div class="form-group">
                                                    <div class="checkbox tickAgree f12">
                                                        <label>
                                                            <input type="checkbox" name="chkAge" class="required" id="chkAge" runat="server" />
                                                            <strong><span class="red">*</span> I am over the age of 18 and I have read, understand and agree to the terms and conditions of this offer.</strong>
                                                        </label>
                                                    </div>
                                                    <!--<div class="checkbox tickAgree f12">
                                                        <label>
                                                            <input type="checkbox">
                                                            <strong><span class="red">*</span> I am over the age of 18 and I have read, understand and agree to the terms and conditions of this offer.</strong>
                                                        </label>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formContainer adjustMobileFormContainer">
                                    <!--div class="row marginBot10">
                                        <div class="col-md-4 col-sm-4 col-xs-4 formLabel adob">
                                            <label><span>*</span> Adult Date of Birth:</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <div class="form-inline aDb">
                                                @Html.Partial("_ADOBPartialPage")
                                            </div>
                                        </div>
                                    </div-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--  <p class="f10">Birthdate for age verification only, as required by the Children's Online Privacy Protection Act. Your birthdate will not be recorded or stored in any form.</p>-->
                                            <p class="f12 bold text-center">
                                                <span class="red">*</span> For security reasons, please enter the code as
                                                it appears below. Letters are ALL LOWER CASE
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- <p><img src="/images/key.jpg" class="responsiveImg"></p>
                                             <p style="width:30%; margin:10px auto;"><input type="text" maxlength="5" class="form-control" id="txtKey"></p>-->
                                            <img src="@Url.Action("Image","Image" ,new { agha = "foo bar" })" alt="" />
                                            <p style="width:30%; margin:10px auto;">
                                                <!-- <input type="text" maxlength="5" class="form-control" id="txtKey"> -->
                                                @Html.TextBoxFor(model => model.SecurityCaptch, new { @id = "txtKey", @maxlength = "5", @class = "form-control" })
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <p class="text-center marginTop15">

                                    <!--<img src="/images/seuss/4for1spring2/button_2.png" alt="" class="responsiveImg buttonContinue hand"> -->
                                    <input type="submit" name="SubmitButton" id="btnPaymentSubmit" value="Submit Order" class="glossyRed redButtons">
                                </p>
                                <!--<p class="marginTop10 text-center"><img src="/images/seuss/4for1spring2/download.png" class="responsiveImg"></p>-->
                                <p class="marginTop10 noMarginBottomSmall text-center">
                                    <!--- GeoTrust -->
                                    <!-- GeoTrust True Site [tm] Smart Icon tag. Do not edit. -->
                                    <script language="JavaScript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                                    <!-- end GeoTrust Smart Icon tag -->
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container">
            <div class="row">
                <div class="col-md-12 text-center black f12">
                    @Html.Partial("_SeussFooterPartialPage")
                    <!-- <p>
                         Dr. Seuss properties&trade; & &copy;
                         <script type="text/javascript">
                             var d = new Date; var year = d.getFullYear(); document.write(d.getFullYear());
                         </script>, Dr. Seuss Enterprises, L.P. All Rights Reserved<br class="hideSmall">
                         Early Moments, 934 Plaza Dr., Montoursville, PA. 17754-2400 Copyright &copy;
                         <script type="text/javascript">
                             var d = new Date; var year = d.getFullYear(); document.write(d.getFullYear());
                         </script>
                     </p> -->
                </div>
            </div>
        </footer>

    }
    <!--child Gender modal-->
    <div class="modal fade" id="childGndr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p><b>Why do you need to know my child&rsquo;s age?</b></p>
                    <p>What makes us different from all other book programs is our variety of books and book formats, and our ability to ship books that are specifically matched to your child&rsquo;s age. We&rsquo;ve spent more than 40 years researching how to do this and it is how we ensure that both you and your child will enjoy, be engaged by, and learn from every package we send.</p>
                    <p><b>Why do you need to know my child&rsquo;s name and gender?</b></p>
                    <p>Actually, we don&rsquo;t! We ask for your child&rsquo;s name and gender just so that we can personalize all of our communications to you. If you prefer not to provide this information, it will not impact the quality of your experience as an Early Moments customer.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Ends child Gender modal -->
    <!--cvv Modal-->
    <div class="modal fade" id="cvvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="/Images/cvv.jpg" alt="" class="responsiveImg">
                </div>
            </div>
        </div>
    </div>
    <!-- Ends CVV Modal -->

    <div id="dialog-message" title="Errors" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <section class="modal-header">
                    <h3 id="myModalLabel1" style="color: Red">Error !</h3>
                </section>
                <section class="modal-body modal-body-alt">
                    <span id="spnErrorMessage"></span>
                </section>
                <section class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">
                        Okay
                    </button>
                </section>
            </div>
        </div>
    </div>
    <div id="loading">
        <div id="loadingcontent" style="">
            <p id="loadingspinner">
                <strong>Please wait while we process your order.</strong>
            </p>
        </div>
    </div>
    <script>
        $("#txtKey").val('');
    </script>
</body>
</html>
