@model deals.earlymoments.com.Models.ShippingModels.BillingDetails
@{
    ViewBag.Title = "Payment 4for99 Spring";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="/Content/themes/seuss/payment4for99spring/custom.css" rel="stylesheet" />
<link href="/Content/themes/seuss/payment4for99spring/media.css" rel="stylesheet" />

<script src="/Script/seuss/payment4for99spring/main.js"></script>
<script src="/script/Payment-Validation.js"></script>
<!-- Facebook Pixel Code (by David / 02.03.2015) -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1122629181099927');
    fbq('track', "PageView");
    fbq('track', 'InitiateCheckout');</script>
<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=1122629181099927&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
@using (Html.BeginForm())
{
    <div class="rightFormDiv">
        <p class="formHeader"><img src="/Images/seuss/payment4for99spring/right_top1.png" class="responsiveImg" id="rightTopDesktop"></p>
        <p class="formStep1Bg"><img src="/Images/seuss/payment4for99spring/step3.png" class="responsiveImg formStep1" id="step1"></p>
        <div class="row orderForm">
            <div class="borderedBox">
                <div class="rightFormContainer">
                    @Html.Partial("_BillingPartialPage", Model)

                    <div class="stepAgreementContainer marginTop15">
                        <!--stepAgreementBox start-->
                        <h5 class="bold">&nbsp;Membership Agreement:&nbsp;</h5>
                        <div class="stepAgreementBox marginBot20">
                            <fieldset class="fieldset-membership">
                                <div class="scroll text-justify" id="divMemberAgreement">
                                    <strong>It's easy to share the gift of reading with your child.</strong> We make it easy and affordable to fill your home with wonderful and educational children's books each month. Join the <em>Dr. Seuss™ &amp; His Friends</em> book club today and we'll send you a Welcome Package with four best-loved <em>Dr. Seuss™ &amp; His Friends</em> book club titles for just $1.00! <u>Shipping is FREE</u>!
                                    <br><br>
                                    <strong>Plus... get an extra money-saving bonus.</strong> Save even more when you check the Bonus Books box! You'll get the 2016 <em>Dr. Seuss™ Wall Calendar</em> for just $6.99 – that's 50% OFF our everyday low price – and there is no additional shipping and handling charge!
                                    <br><br>
                                    <strong>Encourage a lifelong love of reading.</strong> Each month you and your child will benefit from receiving 3 more <em>Dr. Seuss™ &amp; His Friends</em> storybooks to review and enjoy. If you decide to keep them, they are yours for just $5.99 per book plus $3.99 shipping and handling.
                                    <br><br>
                                    <strong>Your complete satisfaction is guaranteed.</strong> If for any reason these four books don't tickle your little one's funny bone, simply return them to us at your expense with a note marked "cancel," and we'll gladly refund the purchase price... no questions asked. Nothing more will be sent.
                                    <br><br>
                                    Your exclusive membership benefits allow you to return any book package that does not delight you within 30 days of its original ship date. Use our simple instructions within the shipment to return the package at your expense, and we'll refund the purchase price, less shipping and handling. You may cancel your membership at any time, for any reason. There is no purchase commitment.
                                    <br><br>
                                    <strong>Exclusive FREE preview privileges.</strong> As a member of the <em>Dr. Seuss™ &amp; His Friends</em> book club who has purchased two club shipments, you will also be automatically enrolled in our separate <em>Free Preview Program</em> to receive, up to four times a year, 7-day free previews of two giant-size Dr. Seuss classics or other items to complement your club. We will always notify you first with offer details, price (usually about $15.00 plus shipping and handling), a reply form and a toll-free number. Simply tell us within 10 days if you choose not to receive the package announced, or do nothing and it will be sent. As always, your satisfaction is guaranteed and if you do not wish to keep any preview package you receive, you may return it at our expense. You may cancel your <em>Free Preview</em> membership at any time. Club and <em>Free Preview</em> accounts must be canceled separately; see <em>Free Preview</em> invoice for cancellation instructions.
                                    <br><br>
                                    <span style="text-decoration:underline;">Other qualification details and important information</span>: You must be 18 years of age or older to order and all orders are subject to approval. Limit one per household. Out-of-stock titles and free items may be replaced by alternate selections.
                                    <br><br>
                                    For your convenience, please note that the Welcome Package, all future club shipments and <em>Free Preview</em> shipments will be charged to the credit card you provided at sign-up. Sales tax will be added for members in CT, PA and IL. Please pay on time. A late charge will be added to overdue payments to help cover the cost of sending recurring bills. Overpayments on cancelled accounts are subject to a $1 per month fee. Future contact may include e-mail if your account is overdue.
                                    <br><br>
                                    Customers may occasionally receive information on products, services, special deals, and e-newsletters. If you no longer wish to receive any marketing or promotional materials from us or our partners you may opt-out of receiving these communications using the link located on the bottom of all such promotional e-mails. <a style="color:#000000;" href="http://www.earlymoments.com/Privacy-Policy/">Click here to read our Privacy Policy</a>.
                                    <br><br>
                                    Dr. Seuss properties TM &amp; &copy;
                                    <script type="text/javascript">
                                        var d = new Date; var year = d.getFullYear(); document.write(d.getFullYear());
                                    </script>2015 Dr. Seuss Enterprises. L.P. All Rights Reserved.
                                </div>
                                <div id="divViewTermsAndConditions" class="text-center">
                                    <span id="spanTermsAndConditionsSummaryLable">Click here to view complete Terms & Conditions</span>
                                </div>
                            </fieldset>
                        </div>
                        <!--stepAgreementBox end-->
                        <div class="form-group">
                            <div class="checkbox tickAgree f12">
                                <label>
                                    <input type="checkbox" name="chkAge" class="required" id="chkAge" runat="server" />
                                    <strong><span class="red">*</span> I am over the age of 18 and I have read, understand and agree to the terms and conditions of this offer.</strong>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formContainer smallMarginTop10 adjustMobileFormContainer">
                        <!--<div class="row formFieldGap">
                            <div class="col-md-4 col-sm-4 col-xs-4 formLabel adob">
                                <label><span>*</span> Adult Date of Birth</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="form-inline aDb">
                                    @Html.Partial("_ADOBPartialPage")
                                </div>
                            </div>
                        </div>
                        <div class="row formFieldGap">
                            <div class="col-md-12">
                                <p class="f10">Birthdate for age verification only, as required by the Children's Online Privacy Protection Act. Your birthdate will not be recorded or stored in any form.</p>
                                <p class="f12 text-center bold"><span class="red">*</span> For security reasons, please enter the code as it appears below. Letters are ALL LOWER CASE.</p>
                            </div>
                        </div>-->
                        <div class="row formFieldGap">
                            <div class="col-md-12">
                                <p class="f12 text-center bold"><span class="red">*</span> For security reasons, please enter the code as it appears below. Letters are ALL LOWER CASE.</p>
                            </div>
                            <div class="col-md-12 text-center">

                                <!-- <p><img src="/Images/key.jpg" class="responsiveImg"></p> -->
                                <img src="@Url.Action("Image","Image" ,new { agha = "foo bar" })" alt="" />
                                <p style="width:30%; margin:10px auto;">
                                    <!-- <input type="text" maxlength="5" class="form-control" id="txtKey"> -->
                                    @Html.TextBoxFor(model => model.SecurityCaptch, new { @id = "txtKey", @maxlength = "5", @class = "form-control" })
                                </p>
                            </div>
                        </div>
                    </div>

                    @*<div class="text-center marginTop15"><img src="/Images/seuss/payment4for99spring/button_2.png" alt="" class="responsiveImg buttonContinue cursor" id="btnSubmit"></div>*@
                    <div class="text-center marginTop15"> <img src="/Images/seuss/payment4for99spring/button_2.png" alt="" class="responsiveImg buttonContinue cursor" id="btnSubmit1"></div>

                    <p class="marginTop10 noMarginBottomSmall text-center">
                        <!--- GeoTrust -->
                        <!-- GeoTrust True Site [tm] Smart Icon tag. Do not edit. -->
                        <script language="JavaScript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
                        <!-- end GeoTrust Smart Icon tag -->
                        <!--<img src="/Images/seuss/payment4for99spring/download.png" class="responsiveImg">-->
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var err = '';
        if ('@ViewBag.ErrorMsg' != null) {
            err = '@Html.Raw(ViewBag.ErrorMsg)';
            //   console.log(err);
            if (err.length > 0) {
                $("#spnErrorMessage").html(err.toString());
                $("#dialog-message").modal("toggle");
            }
        }
        if ('@ViewBag.IsBonusSelected' != null) {
            var isBonusSelected = '@ViewBag.IsBonusSelected';
            //alert(isBonusSelected);
            if (isBonusSelected == true || isBonusSelected == 'true' || isBonusSelected == 'True') {
                $("#spnSavedPrice").text('51.94');
            } else {
                $("#spnSavedPrice").text('26.00');
            }
        }
    })
</script>

@section headerStrip {
    <header class="row hideSmall">
        <div class="col-md-12 noPaddingLR">
            <img src="/Images/seuss/payment4for99spring/header.jpg" alt="Get 4 Books for just 99¢ each!" class="responsiveImg" id="headerImage">
        </div>
    </header>
}

@section LeftPanel {
    <img src="/Images/seuss/payment4for99spring/left_01.jpg" class="responsiveImg"><br>
    <img src="/Images/seuss/payment4for99spring/left_02.jpg" class="responsiveImg">
    <div class="clearfix"></div>
    <div class="panel panel-default orderSummery">
        <div class="panel-heading hideBig hand" id="viewOrderSummeryBtn">
            <h5>Click here to Vieew</h5>
        </div>
        <div class="panel-body bold" id="viewOrderSummery">
            <p class="ordSummarytitle">Order Summary</p>
            @Html.Raw(ViewBag.CartSummary)
            @*<div class="table-responsive smallTable f12">
                    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr valign="middle">
                                <td>4 Books by Dr. Seuss™ &amp; His Friends</td>
                                <td>$1.00</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>The Cat in the Hat</em></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Go, Dog. Go!</em></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Mr. Brown Can Moo! Can You?</em></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Ten Apples Up On Top!</em></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><em>One Fish, Two Fish, Red Fish,<br>Blue Fish</em> and <em>Dr. Seuss's ABC</em></td>
                                <td>$5.99</td>
                            </tr>
                            <tr>
                                <td>Shipping and Handling</td>
                                <td>FREE</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Today's Total:</strong></td>
                                <td><strong>$6.99</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>*@
        </div>
        <div class="clearfix"></div>
        <h3 class="text-center hideSmall darkRed bold">You Saved $<span id="spnSavedPrice">51.94</span>!</h3>
        <p><img src="/Images/seuss/payment4for99spring/leftBottom.jpg" class="responsiveImg marginTop10"></p>
    </div>
}

@section footerSection {
    @Html.Partial("_SeussFooterPartialPage")
}
<script>
    $("#txtKey").val('');
</script>