@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_LayoutConfirmation.cshtml";
}

<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1122629181099927');
    fbq('track', 'PageView');
    fbq('track', 'Purchase');</script>
<noscript>
    <img height="1" width="1" style="display: none"
         src="https://www.facebook.com/tr?id=1122629181099927&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Taboola conversion Code script -->
<script type="text/javascript">
    window._tfa = window._tfa || [];
    _tfa.push({ notify: "action", name: 'subscription_successful' });
</script>
<script src="//cdn.taboola.com/libtrc/polleverywhere-sc/tfa.js"></script>
<!-- Ends Taboola conversion code -->

<h1 class="bold">Thank you for your order from Early Moments!</h1>
<p>Your @ViewBag.product shipment will be on its way to you and your child shortly.</p>
<p class="noMargin">You can print this order confirmation for your records.</p>
<p>You will also receive a confirmation email shortly.</p>
<p>
    <script language='JavaScript1.1' src='https://ad.doubleclick.net/ddm/adj/N6103.286873.FREESHIPPING.COM/B5402815.130488031;sz=300x250;ord=@System.DateTime.Now;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?'>
    </script>
    <noscript>
        <a href='https://ad.doubleclick.net/ddm/jump/N6103.286873.FREESHIPPING.COM/B5402815.130488031;sz=300x250;ord=@System.DateTime.Now?'>
            <img src='https://ad.doubleclick.net/ddm/ad/N6103.286873.FREESHIPPING.COM/B5402815.130488031;sz=300x250;ord=@System.DateTime.Now;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?' border=0 width=300 height=250 alt='Advertisement'>
        </a>
    </noscript>
</p>
<h5 class="confId marginTop30">Confirmation #: @ViewBag.order_id</h5>
<div class="table-responsive noBorder confDtl">
    <table class="table black">
        <tr>
            <td>BILL TO</td>
            <!-- <td>LISA MOORE<br>37 FARM ST<br>DANBURY, CT 06811</td>-->
            <td>@Html.Raw(ViewBag.BillingAddress)</td>
            <td>SHIP TO</td>
            <td>@Html.Raw(ViewBag.ShippingAddress)</td>
        </tr>
        <tr>
            <td>CARD</td>
            <!--<td>XXXX-XXXX-XXXX-1064<br>Exp: 04-2020</td>-->
            <td>@ViewBag.CreditCardNumber<br>Exp: @ViewBag.CardExpiry</td>
            <td>DATE</td>
            <td>@string.Format("{0:MM/dd/yyyy}", System.DateTime.Now.Date)</td>
        </tr>
    </table>
</div>
<div class="clearfix"></div>

<div class="table-responsive noBorder orderDetails">
    @Html.Raw(ViewBag.Cart)
</div>
<div class="clearfix"></div>
<p>*Plus sales tax where applicable.</p>

<script>
    $(document).ready(function () {
        var proj = '@ViewBag.Project';
        // alert(proj);
        if (proj != null && proj != "" && proj == "BRU") {
            $("#headerImage").attr("src", "/Images/Seuss/confirm_header.gif");
            $("#footerSeuss").show();
        }
        if (proj != null && proj != "" && proj == "DBU") {
            $("#headerImage").attr("src", "/Images/disney/confirm_header.jpg");
            $("#footerDisney").show();
        }
        if (proj != null && proj != "" && proj == "ELU") {
            $("#headerImage").attr("src", "/Images/elmo/confirm_header.jpg");
            $("#footerElmo").show();
        }
        if (proj != null && proj != "" && proj == "BEU") {
            $("#headerImage").attr("src", "/Images/bye/confirm_header.gif");
            $("#footerEinstien").show();
        }
    });

</script>



@section headerStrip {
    <img src="" alt="header" class="responsiveImg" id="headerImage">
}

@section rightPanel {
    <!--img src="/Images/fgcntoysrus500gc_274_hibrand.gif" alt="" class="responsiveImg"-->
}

@section footerSection {
    <div id="footerSeuss" style="display:none;">
        @Html.Partial("_SeussFooterPartialPage")
    </div>
    <div id="footerDisney" style="display:none;">
        @Html.Partial("_DisneyFooterPartialPage")
    </div>
    <div id="footerElmo" style="display:none;">
        <p>
            &ldquo;Sesame Workshop&rdquo;&reg;, &ldquo;Sesame Street&rdquo;&reg;, &ldquo;Elmo&rsquo;s Learning Adventure&rdquo;, and associated characters, trademarks, and design elements are owned and licensed by Sesame Workshop, &copy;@System.DateTime.Now.Year
            Sesame Workshop. All rights reserved.
        </p>
    </div>
    <div id="footerEinstien" style="display:none;">
        <p>
            &copy;@System.DateTime.Now.Year The Baby Einstein Company, LLC. All rights reserved. Baby Einstein is a trademark of The Baby<br> Einstein Company, LLC. EINSTEIN is a trademark of The Hebrew University of Jerusalem.<br>
            Early Moments, 934 Plaza Dr., Montoursville, PA. 17754-2400 Copyright &copy;@System.DateTime.Now.Year
        </p>
    </div>
}

<!-- global pixel for Propel Media -->
<script type="text/javascript" src="https://tracking.propelmedia.com/?id=1G7660G85C8GAE17196E&fetch=0&value=0">
</script>
<noscript>
    <div style="display: inline;">
        <img height="1" width="1" style="border-style: none;" alt="" src="https://tracking.propelmedia.com/?id=1G7660G85C8GAE17196E&fetch=1&value=0" />
    </div>
</noscript>
<!-- global pixel for Propel Media -->

<!-- ES Order Tracking Code -->
<script type="text/javascript">
    var esg = esg || {};
    _esg['value'] = '@ViewBag.amt';
    (function () {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') +
        'links.earlymoment.com/gs/2zv/F/b6308cbf';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
</script>
<!-- ES Order Tracking Code -->