<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/common.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/script/jquery.1.11.3.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>

    <script src="/script/jquery-ui.js"></script>
    <script src="/script/enquire.min.js"></script>
</head>
<body>
    <div class="container customMainContainer shadowLR roundedBorderBottom marginBot20">
        @RenderSection("headerStrip", required: true)
        <div class="row">
            <div class="col-md-7 col-sm-7 noPaddingLR hideSmall">
                @RenderSection("LeftPanel", required: true)
            </div>
            <div class="col-md-5 col-sm-5 noPaddingLR rightCol">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                @RenderSection("footerSection", required: false)               
            </div>
        </div>
    </footer>

    <!--child Gender modal-->
    <div class="modal fade" id="childGndr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p><b>Why do you need to know my child&rsquo;s age?</b></p>
                    <p>What makes us different from all other book programs is our variety of books and book formats, and our ability to ship books that are specifically matched to your child&rsquo;s age. We&rsquo;ve spent more than 40 years researching how to do this and it is how we ensure that both you and your child will enjoy, be engaged by, and learn from every package we send.</p>
                    <p><b>Why do you need to know my child&rsquo;s name and gender?</b></p>
                    <p>Actually, we don&rsquo;t! We ask for your child&rsquo;s name and gender just so that we can personalize all of our communications to you. If you prefer not to provide this information, it will not impact the quality of your experience as an Early Moments customer.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Ends child Gender modal -->
    <!--cvv Modal-->
    <div class="modal fade" id="cvvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="/Images/cvv.jpg" alt="" class="responsiveImg">
                </div>
            </div>
        </div>
    </div>
    <!-- Ends CVV Modal -->

    <!--Credit Card Bill ZIP Modal-->
    <div class="modal fade" id="ccbillZipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close red" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="H1">
                        Zip Code
                    </h4>
                </div>
                <div class="modal-body">
                    Billing address zip code where the credit card statement is delivered.
                </div>
            </div>
        </div>
    </div>
    <!-- Ends Credit Card Bill ZIP Modal Modal -->

    <div id="dialog-message" title="Errors" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <section class="modal-header">
                    <h3 id="myModalLabel1" style="color: Red">Error !</h3>
                </section>
                <section class="modal-body modal-body-alt">
                    <span id="spnErrorMessage"></span>
                </section>
                <section class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">
                        Okay
                    </button>
                </section>
            </div>
        </div>
    </div>

    <!---------------------------------------------------- Google Organic Pixel --------------------------------------------------->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol)
? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost
+ "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-8396281-1");
            pageTracker._setDomainName("earlymoments.com"); pageTracker._trackPageview();
        }
        catch (err) { } </script>
    <!----------------------------------------------------Google Organic Pixel --------------------------------------------------->
    <!----------------------------------------------------UpSellIt --------------------------------------------------->
    <script type="text/javascript">
        function USI_installCode() {
            var USI_headID = document.getElementsByTagName("head")[0];
            var USI_installID = document.createElement('script'); USI_installID.type = 'text/javascript';
            USI_installID.src = 'http' + (document.location.protocol == 'https:' ? 's://www'
: '://www') + '.upsellit.com/custom/drdisney.jsp'; USI_headID.appendChild(USI_installID);
        } if (window.addEventListener) {
            window.addEventListener('load', USI_installCode,
true);
        } else if (window.attachEvent) {
            window.attachEvent('onload', USI_installCode);
        } else { USI_installCode(); } </script>
    <!----------------------------------------------------UpSellIt --------------------------------------------------->
    <!----------------------------------------------------Google Remarketing Pixel --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */ var google_conversion_id = 1033406327; var
       google_custom_params = window.google_tag_params; var google_remarketing_only = true;
        /* ]]> */ </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display: inline;">
            <img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1033406327/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!---------------------------------------------------- GoogleRemarketing Pixel --------------------------------------------------->
    <!-- MMD tracking Script -->
    <script type="text/javascript">
        maxmind_user_id = "35644";
        (function () {
            var loadDeviceJs = function () {
                var element = document.createElement('script');
                element.src = ('https:' == document.location.protocol ? 'https:' : 'http:')
            + '//device.maxmind.com/js/device.js';
                document.body.appendChild(element);
            };
            if (window.addEventListener) {
                window.addEventListener('load', loadDeviceJs, false);
            } else if (window.attachEvent) {
                window.attachEvent('onload', loadDeviceJs);
            }
        })();
    </script>
    <!-- MMD tracking Script -->
</body>
</html>
